<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classification</title>
</head>
<body>
    <h1>Классификатор состояния легких</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Классифицировать">
    </form>
    {% if prediction %}
        <h2>{{ prediction }}</h2>
    {% endif %}
    {% if image_url %}
        <img src="{{ image_url }}" alt="Загруженное изображение" style="max-width: 500px;">
    {% else %}
        <p>Изображение не было загружено.</p>
    {% endif %}
</body>
</html>
